## others
*.pyc
.vscode/*

## individual plots
# p4*/plot/*

## non-git folder
p4*/aux/*
aux/*
auxil/*

## Core latex/pdflatex auxiliary files:
p4*/latex/*.aux
p4*/latex/*.lof
p4*/latex/*.log
p4*/latex/*.lot
p4*/latex/*.fls
p4*/latex/*.out
p4*/latex/*.toc
p4*/latex/*.fmt
p4*/latex/*.fot
p4*/latex/*.cb
p4*/latex/*.cb2

## Build tool auxiliary files:
p4*/latex/*.fdb_latexmk
p4*/latex/*.synctex
p4*/latex/*.synctex(busy)
p4*/latex/*.synctex.gz
p4*/latex/*.synctex.gz(busy)
p4*/latex/*.pdfsync

#### temp
## Core latex/pdflatex auxiliary files:
p4*/data/latex/*.aux
p4*/data/latex/*.lof
p4*/data/latex/*.log
p4*/data/latex/*.lot
p4*/data/latex/*.fls
p4*/data/latex/*.out
p4*/data/latex/*.toc
p4*/data/latex/*.fmt
p4*/data/latex/*.fot
p4*/data/latex/*.cb
p4*/data/latex/*.cb2

## Bdata/uild tool auxiliary files:
p4*/data/latex/*.fdb_latexmk
p4*/data/latex/*.synctex
p4*/data/latex/*.synctex(busy)
p4*/data/latex/*.synctex.gz
p4*/data/latex/*.synctex.gz(busy)
p4*/data/latex/*.pdfsync
