## individual plots
p4*/plot/*

## non-git folder
aux/*
auxil/*

## Core latex/pdflatex auxiliary files:
p4*/latex/*.aux
p4*/latex/*.lof
p4*/latex/*.log
p4*/latex/*.lot
p4*/latex/*.fls
p4*/latex/*.out
p4*/latex/*.toc
p4*/latex/*.fmt
p4*/latex/*.fot
p4*/latex/*.cb
p4*/latex/*.cb2

## Build tool auxiliary files:
p4*/latex/*.fdb_latexmk
p4*/latex/*.synctex
p4*/latex/*.synctex(busy)
p4*/latex/*.synctex.gz
p4*/latex/*.synctex.gz(busy)
p4*/latex/*.pdfsync
